<h1>Your Cart</h1>

<% if @cart.posts.any? %>
  <ul>
    <% @cart.posts.each do |post| %>
      <li>
        <h3><%= post.title %></h3>
        <p><%= post.price %></p>
        <p><%= post.contact %></p>
        <%= button_to "Remove from Cart", remove_post_cart_path(post), method: :delete %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Your cart is empty.</p>
<% end %>

<%= link_to "Continue Shopping", posts_path %>
