<h1>Your Cart</h1>

<% if @cart.posts.any? %>
  <ul>
    <% @cart.posts.each do |post| %>
      <li>
        <h3><%= post.title %></h3>
        <p><%= post.price %>€</p>
        <p><%= post.contact %></p>
        <div style="display: flex; gap: 10px;">
          <%= button_to "Remove from Cart", remove_post_cart_path(@cart, post_id: post.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to remove this post?" } %>
          <%= button_to "Buy", remove_post_cart_path(@cart, post_id: post.id), method: :delete, class: "btn btn-danger"%> 
        </div> 
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Your cart is empty.</p>
<% end %>

<%= link_to "Continue Shopping", posts_path %>
