<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Display Post Owner -->
  <% if post.user.present? %>
    <p><strong>Posted by:</strong> <%= post.user.email %></p>  <!-- Change to post.user.name if you have a name column -->
  <% else %>
    <p><strong>Posted by:</strong> Unknown</p>
  <% end %>

  <%= form.label :title, "Title" %>
  <%= form.text_field :title %>

  <%= form.label :picture, "Picture" %>
  <%= form.file_field :picture %>

  <%= form.label :price, "Price" %>
  <%= form.text_field :price %>

  <%= form.label :contact, "Contact" %>
  <%= form.text_field :contact %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
