<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :title, "Title" %>
  <%= form.text_field :title %>

  <%= form.label :picture, "Picture" %>
  <%= form.file_field :picture %>

  <%= form.label :price, "Price" %>
  <%= form.text_field :price %>

  <%= form.label :contact, "Description" %>
  <%= form.text_area :contact, rows: 5, cols: 50 %> 

  <div>
    <%= form.submit %>
  </div>
<% end %>
